# Puerto de la API
PORT=3000

# Motor de base de datos activo: "mongodb" | "postgres"
DB_ENGINE=mongodb

# MongoDB (catalogo: categories, brands, products)
MONGO_URI=mongodb://root:tiendabox@localhost:27018/?authSource=admin
MONGO_DB=tiendabox_mg

# PostgreSQL (preparado para mas adelante: users)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tiendabox
POSTGRES_DB=tiendabox_pg
